<%- include header %>

 <div class="jumbotron">
 <h1>BIENVENIDO </h1>
 <p>HOLA</p>
 <p>
 <a class="btn btn-lg btn-primary" href="/ir" role="button">Ir a Noticias »</a>
 <br>
 <br>
 <a class="btn btn-lg btn-primary" href="/irUsuarios" role="button">Ir Pagina Usuarios »</a>
 </p>
 </div>
 <%- include footer %>